* {
    all: unset;
    background-image: none;
    transition: 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
}

window {
  font-family: JetBrainsMono Nerd Font;
  font-size: 12pt;
  color: transparent; 
  background-color: rgba(24, 27, 32, 0.2);
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  border-style: none;
  border-width: 3px;
  background-color: rgba(12, 12, 12, 0.3);
  margin: 5px;
  border-radius: 36px;
  transition: all 0.3s ease-in-out;
  box-shadow: none;
}


button:hover {
    background-size: 15%;
    box-shadow: 0 0 0 0 rgba(0,0,0,.4);
    background-color: #afd;
    color: transparent;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.5s ease-in;
}

#lock {
  background-image: image(url("icons/lock.png"));
}

#logout {
  background-image: image(url("icons/logout.png"));
}

#suspend {
  background-image: image(url("icons/sleep.png"));
}

#hibernate {
  background-image: image(url("icons/hibernate.png"));
}

#reboot {
  background-image: image(url("icons/restart.png"));
}

#shutdown {
  background-image: image(url("icons/power.png"));
}

